.header {
    color: white;
    background-color: maroon;
}

.navbar {
    color: blue;
    text-align: center;
}

.section {
    color: white;
    background-color: red;

    float: left;
}

.aside {
    color: white;
    background-color: blue;
    
    float: left;
    padding: 20px;
}

.header {
    color: white;
    background-color: goldenrod;    
    
    float: left;
    top: 0px;
    left: 0px;
}

.footer {
    color: white;
    background-color: purple;

    clear: both;
}

.p {
    color: white;
    background-color: goldenrod;
    
    padding: 5px;
}

.grid {
    display: grid;
    margin: 20px;
    
    background-color: green;
    color: white;
}

.image {
    height: 5dvh;
    width: 5dvw;
    
    display: relative;
    top: 100px;
    left: 80dvw;
}

