.para {
    color: white;
    background-color: maroon;
}

.meta {
    color: blue;
    text-align: center;
}

.section {
    color: white;
    background-color: red;

    float: left;
}

.aside {
    color: white;
    background-color: blue;
    
    float: left;
}

.header {
    color: white;
    background-color: goldenrod;    
    
    float: left;
    top: 0px;
    left: 0px;
}
